#**Iris Flower Species Prediction**

In [1]:
# Step 1 : import library
import pandas as pd

In [2]:
# Step 2 : import data
iris =pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/IRIS.csv')

In [3]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
# Step 3 : define y and X

In [7]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [8]:
y = iris['species']
X = iris[['sepal_length', 'sepal_width', 'petal_length', 'petal_width']]

In [9]:
# Step 4 : train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7, random_state=2529)

In [10]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((105, 4), (45, 4), (105,), (45,))

In [11]:
# Step 5 : select model
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [12]:
# Step 6 : train or fit model
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [13]:
# Step 7 : predict model
y_pred=model.predict(X_test)

In [14]:
# Step 8 : model accuracy
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [15]:
accuracy_score(y_test,y_pred)

0.9555555555555556

In [16]:
confusion_matrix(y_test,y_pred)

array([[14,  0,  0],
       [ 0,  9,  0],
       [ 0,  2, 20]])

In [17]:
print(classification_report(y_test,y_pred))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        14
Iris-versicolor       0.82      1.00      0.90         9
 Iris-virginica       1.00      0.91      0.95        22

       accuracy                           0.96        45
      macro avg       0.94      0.97      0.95        45
   weighted avg       0.96      0.96      0.96        45